body {
  /* background-image: linear-gradient(to top right, #000046, #1cb5e0); */
  background-attachment: fixed;
  top: 0;
  left: 0;

  /* color: #354538; */
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to right bottom, #000046, #1cb5e0);
  border-radius: 5px;
}
