html {
 
  left: 0;
  /* scroll-snap-type: y proximity; */

  /* color: #354538; */
}

body { 
  /* background-image: url('./assets/projects/webb.png'); */
  background-attachment: fixed;
  margin: 0;

}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  height: 135px;
  border-radius: 2px;
  background-image: linear-gradient(to left top, #097c86, #0298a3);
}
