body {
  background-image: linear-gradient(to top right, #000046, #1cb5e0);
  background-attachment: fixed;
  color: #354538;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to right bottom, #000046, #1cb5e0);
  border-radius: 5px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app__container {
  padding-top: 50px;
}

.app__row {
  height: 90vh;
}

/* sidebar */
.sidebar {
  background-color: white;
  height: 95%;
  border: 3px black solid;
  padding: 25px 15px;
  box-shadow: 0 0 10px black;
  border-radius: 15px;
  text-align: center;
  margin-top: 10px;
}

.app__main-content {
  background-color: white;
  height: 95%;
  border: 3px black solid;
  padding: 25px 15px;
  box-shadow: 0 0 10px black;
  border-radius: 15px;
  margin-top: 10px;
}

.sidebar__avatar {
  height: 140px;
  border-radius: 50%;
  object-fit: contain;
  box-shadow: 0 0 10px #020f13;
}

.sidebar__icon {
  width: 25px;
  height: 25px;
}

.sidebar__name {
  font-family: "Lobster", cursive;
  font-size: 35px;
  margin: 20px 0;
  border-bottom: dotted 2px rgb(207, 118, 118);
}

.sidebar__name > span {
  color: #eb5757d2;
}

.sidebar__item {
  margin-bottom: 6px;
  margin-top: 6px;
  height: 40px;
  font-size: 1.05rem;
  border-radius: 30px;
  justify-content: center;
}

.sidebar__title {
  /* background-color: #f1f1f1; */
  border-radius: 30px;
}

.sidebar__location {
  margin-top: 10px;
}

.sidebar__contact {
  padding: 2px 0;
  border-radius: 15px;

  margin: 20px -15px;
}

.sidebar__email {
  background-image: linear-gradient(to bottom left, #535388, #1cb5e0);
  border-radius: 30px;
  color: white;
  margin: 15px 25px 20px;
  cursor: pointer;
  transition: all;
  text-align: center;
}

.sidebar__email:hover {
  transform: scale(1.1);
}

.sidebar__github:hover,
.sidebar__resume:hover {
  background-color: #f1f1f2;
  color: rgb(0, 0, 0);
}

/* Navbar */
.navbar {
  position: relative;
}
.navbar__items {
  display: flex;
}

.navbar__active {
  font-size: 2rem;
  font-weight: 700;
  color: #354358;
  border-bottom: 4px solid #1cb5e0;
}

.navbar__item {
  margin-right: 20px;
  text-decoration: none;
  color: #535388;
  font-size: 1.3rem;
  cursor: pointer;
}

.navbar__item:hover {
  background: -webkit-linear-gradient(#535388, #1cb5e0);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* about */

.about {
  padding-top: 20px;
  margin: 0px;
  height: 70%;
}

.about__intro {
  font-size: 1.1rem;
  padding-bottom: 10px;
}

.about__container {
  padding: 20px;
  height: 80%;
  background-image: linear-gradient(to bottom left, #535388, #1cb5e0);
  display: grid;
  grid-template-rows: 2;
  border-radius: 10px;
}

.about__list {
}

.about__heading {
  font-size: 25px;
  font-weight: 700;
  /* color: #354358; */
  margin-left: 10px;
  color: #ffff;
  border-bottom: 2px solid rgb(214, 203, 203);
}

.skill-card {
  background-image: linear-gradient(to top right, #9bc6ee, #c0e3ec);
  margin: 5px;

  align-content: center;
  justify-content: left;
  display: flex;
  flex: 1;
  flex-direction: row;
  border-radius: 5px;
  height: 25px;
  width: 160px;
}

.skill-card-title {
  color: rgb(27, 27, 34);
  flex: 1;
}
.skill-card__icon {
  width: 15px;
  height: 15px;
  margin-left: 10px;
  align-self: center;
}

.skill-card-body {
  margin-left: 15px;
}

.skill-card__content {
  margin: 0;
  font-size: 1.1rem;
  color: #ffff;
}

.row__about {
  height: 270px;
  margin-right: 15px;
}

.row__about__skills {
  height: 20px;
  columns: 2;
  margin-top: 5px;

  width: 100%;
  display: grid;
  grid-template-columns: 2;
}

/* projects page */
.projects {
  height: 72vh;
  margin-top: 0px;
  overflow-y: auto;
  flex-direction: column;
}
.projects__row {
  margin-top: 20px;
}
.project-card {
  width: 210px;
  height: 300px;
  margin-bottom: 10px;
  overflow-x: inherit;
  border-radius: 20px;
}

.projects__filter:hover {
  transform: scale(1.2);
  background-image: linear-gradient(to bottom left, #6e6ea39d, #9bdff18e);
  box-shadow: 0 0 3px #354358;
}

.project-card__wrapper {
  background-image: linear-gradient(to bottom left, #5353889d, #1cb5e08e);

  width: 100%;
  height: 100%;

  border-radius: 30px;
  border: 2px solid #e0dee6;
}

.project-card__top {
  height: 120px;
  border-radius: 20px;
}

.project-card__image {
  margin-top: 8px;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  object-fit: contain;
}

.project-card__image:hover {
  transform: scale(1.4);
  margin-top: 60px;
}

.project-card__icon {
  width: 25px;
  height: 25px;
}

.project-card__info {
  font-size: 1rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 05px;
  padding: 3px;
  margin-top: 15px;
  border-bottom: dotted black 2px;
}

.project-card__tech:hover {
  transform: scale(1.2);
  background-color: #bbc1ca9f;
  padding-bottom: 15px;
}

.project-card__title {
  margin-left: 15px;
  justify-content: right;
  font-size: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.project-card__tech {
  margin-left: 05px;
  list-style: none;
  display: grid;

  width: 80%;
}
.project-card__category {
  display: flex;
  flex-direction: row;

  align-items: center;
  align-content: center;
  text-align: left;
  width: 90%;
  font-size: 16px;
}
.project-card__desc {
  overflow-y: scroll;
  height: 40px;
}

.projects__navbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row wrap;
  text-align: center;
  align-content: space-between;
  justify-content: space-between;
}

.projects__filter {
  background-color: #3ebcdf60;
  border-radius: 10px;
  width: 80px;
  text-align: center;
  justify-content: center;
  margin-top: 5px;
}

.canvas__test {
  width: 300px;
  height: 4000px;
}

/* iphone screen */
@media (max-width: 375px) {
  .app__container {
    height: 812px;
    overflow: hidden;
    padding: 0px 0px;
    margin: 0;
  }

  .app__row {
    justify-content: center;
  }

  .app__main-content {
    width: 93%;
    height: 74%;
    padding: 0px 0px;
    margin-top: 0px;
    overflow-y: scroll;
  }

  .col-lg-3 {
    padding: 15px;
  }
  .sidebar {
    height: 230px;
    width: 99%;

    position: relative;
    overflow: hidden;
  }
  .sidebar__avatar {
    position: absolute;
    width: 60px;
    height: 60px;
    margin-top: -10px;
    margin-left: -170px;
  }
  .sidebar__name {
    font-size: 35px;
    position: relative;
    margin-top: -20px;
    margin-left: 65px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }

  .sidebar__title {
    font-size: 19px;
    margin-left: 70px;
    height: 20px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    margin-bottom: 2px;
  }
  .sidebar__resume {
    margin-left: 60px;
    font-size: 12px;
    margin-bottom: 40px;
  }
  .sidebar__social-icons {
    float: left;
  }
  .sidebar__icon {
    width: 20px;
    height: 20px;
    margin: 0px;
  }
  .sidebar__a {
    margin: 0px;
    padding: 0px;
    height: 20px;
    position: relative;
  }

  .sidebar__email {
    margin: 0px;
    width: 100%;
    float: left;
  }

  .sidebar__contact {
    margin: 0px;
    width: 230px;
    height: 80px;
    float: right;
    /* background-color: rgba(0, 183, 255, 0.548); */
  }
  .sidebar__item {
    margin-top: 0px;
    margin-bottom: 0px;
    height: 20px;
    font-size: 0.9rem;
  }

  .sidebar__icon__location {
    margin-left: -30px;
    margin-top: 0px;
  }

  .sidebar__location {
    margin-top: 0px;
  }

  .navbar__item {
    font-size: 80%;
  }

  .projects {
    width: 100%;
    height: 90%;
  }

  .project-card {
    width: 100%;
  }
  .project-card__wrapper {
    width: 100%;
  }

  .navbar__active {
    font-size: 100%;
  }
  .projects__filter {
    font-size: 70%;
  }
  .about {
    height: 90%;
    overflow: hidden;
  }
  .about__intro {
    font-size: 70%;
    padding: 10px;
  }
  .about__container {
    height: 70%;
  }
  .about__heading {
    font-size: 100%;
  }
  .row__about {
    height: 100%;
  }
  .row__about__skills {
    height: 200px;
  }
  .col-sm {
    width: 150px;
  }

  .about__list {
    height: 100%;
  }

  .skill-card__icon {
    height: 10px;
    width: 10px;
  }
  .skill-card {
    width: 140px;
    justify-content: left;
  }
  .skill-card-body {
    align-self: center;
    padding-top: 5px;
    padding-left: 10px;
  }
  .skill-card-title {
    text-align: center;
    font-size: 70%;
  }
}

/* Medium Screen */
@media (min-width: 375px) and (max-width: 991px) {
}

@media (min-width: 991px) and (max-width: 1200px) {
  .sidebar__name {
    font-size: 25px;
  }
  /* 
  .project-card {
    width: 400px;
  }
  .project-card__wrapper {
    width: 400px;
    height: 100%;
    min-height: 160px;
    background-color: #a1cfaa42;
    border-radius: 30px;
  }
  .project-card__info {
    width: 400px;
  }  */
}

/* Large Screen  */
/* @media (min-width: 760px) {
  .app__main-content {
  }

  .sidebar {
    width: 30%;
  }
} */
/* 
@media (min-width: 991px) {
 
  .sidebar {
    width: 100%;
  }
  .sidebar__name {
    font-size: 25px;
  }

  .skill-card {
    width: 130px;
  }
} */
